<div class="panel panel-default">
  <div class="panel-heading">
    投稿されたメッセージ
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
    <span class="label label-info"><%= message.name %></span>
    <%= message.body %>
      <br><br>
    <% end %>
  </div>
</div>

<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
 <div class="form-group">
   <label class="col-sm-1 control-label" for="message_name">名前:</label>
   <div class="col-sm-11">
<<<<<<< HEAD
     <%= f.text_field :name , :placeholder => "名前を入力する" , class:"form-control" %>
=======
     <%= f.text_field :name , :placeholder => "名前を入力する" ,class: "form-control" %>
>>>>>>> master
   </div>
 </div> 
 
 <div class="form-group">
   <label class="col-sm-1 control-label" for="message_body">内容:</label>
   <div class="col-sm-11">
<<<<<<< HEAD
     <%= f.text_area :body , :placeholder => "内容を入力する", class:"form-control" %>
=======
       <%= f.text_area :body , :placeholder => "内容を入力する", class: "form-control"%>
>>>>>>> master
   </div>
 </div>
 
 <div class="form-group">
   <div class="col-sm-offset-1 col-sm-11">
    <%= f.submit class: "btn btn-sm btn-primary" %>  
   </div>
 </div>
<<<<<<< HEAD
  
   
=======
>>>>>>> master
<% end %>